---

import { PROFILE } from "../../content/profileData";
---

<div class="flex flex-col gap-2 animate-appear">
  <p class="text-sm font-light mb-1">
    {PROFILE.headLine}
  </p>

  <p class="text-md mb-1 font-medium">
    {PROFILE.headLine2}
  </p>

  <p>
  <a href="https://www.google.com/maps/contrib/105494151004190576246/contribute">Google Map Contributor</a>
  </p>

  <hr/>

  <p class="text-sm font-light">
    More about my <a href="/projects" class="underline hover:font-bold">Projects</a> and my <a href="/experiences"
                                                                                               class="underline hover:font-bold">Experiences</a>.
  </p>
</div>

